#mar{
	background-color:red;
	color: white;
	font-size: 20px;
	font-family: calibri;
}

#img1{
	width: 300px;
	height: 100px;
	text-align: center;
}

#div1{
	display: flex;
}

#st1{
	width: 600px;
	text-align: center;
	font-family: impact;
	color: navy;
}

#st2{
	width: 600px;
	text-align: center;
	font-family: calibri;
	color: red;
}

#div2{
	padding: 20px;
	border: 3px;
	border-color: navy;
	border-radius: 18px;

}



#mar1{
	
	color: red;
	font-size: 20px;
	font-family: calibri;
	padding: 30px;
	text-align: center;
	}

	#img2{
	max-width: 80px;
	max-height: 70px;
	float: left;
	}
	

	#img3{
	max-width: 80px;
	max-height: 70px;
	float:right;
	}

	#p1{
	font-family: calibri;
	color: red;
	font-size: 15px;
}

#b{
	font-family: calibri;
	color: navy;
}
#abt{
	display:flex;
}
#txt{
margin-left: 30px;
text-align: justify;
}
#colgpic{
	width: 460px;
	height: 240px;
}
h4{
	color: red;
}

#box0{
	display: flex;
	align-items: center;
}
#box1{
	background-color: white;
	border: 2px ;
	border-radius: 5px;
	margin: 2px;
	padding: 3px;
	width: 550px;
	height: 450px;
}
#box2{
	margin-top: 10px;
	margin-left: 10px;
	border: 2px solid navy;
	border-radius: 10px;
	padding: 5px;
	width: 555px;
	height: 250px;

}
#sec4{
	display: flex;
}

#box3{
	display: flex;
}

#box4{
	margin-top:40px ;
	margin-left: 12px;
}
#test{
	margin-top: 10px;
	margin-left: 25px;
}
#test1
{
	margin-top: 40px;
	margin-left: 12px;
	width: 300px;
}
#box5{
	display: flex;
}

#imgg{
	height:200px;
	width:250px; 
	
    margin-left: 100px;
    margin-top: 10px;

}